
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Tako Leaf</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,300;0,400;0,500;0,700;0,900;1,300;1,400;1,500;1,700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="~/CSS/Home.css" />
    <link rel="stylesheet" href="~/JS/Home.js" />


</head>
<body>
    <section class="header">
        <nav>
            <a href="Home/index"><img src="~/IMG/Header/TAKO ECO new.png"></a>
            <div class="nav_links">
                <ul>
                    <li><a href="login/inscription">Inscription</a></li>
                    <li><a href="login/connection">Connection</a></li>
                    <li><a href="FAQ">FAQ</a></li>

                </ul>
            </div>
        </nav>
    </section>
    <div class="text_box">
        <h2>Bievenu sur Tako Leaf</h2>
        <p>
            Votre site des bon plans entre particulier et de réparation en tout genre.
            Nous espérons que ce site n'auras <br>pas ête trop galère à faire... MON OEIL !
        </p>
        <a href="" class="secondpage_btn">En savoir plus ?</a>
    </div>
</body>
</html>
