
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Tako Leaf</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,300;0,400;0,500;0,700;0,900;1,300;1,400;1,500;1,700&display=swap" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="~/CSS/Home.css"/>
    
</head>

<body>
    <!--Début Section du Header-->
    <header>
        <nav class="navbar">
            <div class="logo"><a href="home/index"><img src="~/IMG/Header/TAKO ECO new.png"></a></div>
            <h1>Tako Leaf</h1>
            <ul class="nav-ul">
                <li><a href="login/inscription">Inscription</a></li>
                <li><a href="login/connexion">Connexion</a></li>
                <li><a href="FAQ">FAQ</a></li>
            </ul>
        </nav>
    </header>
    <!--FIn Section du Header-->


    <!--Section de la page principale-->
    <section class="home">
        <div class="content">
            <h1>l'espoir c'est la vie</h1>

            <article>
                <p class="article1"> Amet minim mollit non deserunt ullamco est sit aliqua dolor  <br />do amet sint. Velit officia consequat  <br />duis enim velit mollit. Exercitation veniam consequat sunt nostrud amet.</p>
                <p class="article2"> Takeleaf est le prmier site ehzoighgoihg righorighorehz <br />zeoighzeogihzegoizg gozeghoiehfozihefzofnzog <br /><br /><br />zoghzggizhgziehgz zoghgoihgzoeihezgggei</p>
                <p class="article3"> Takeleaf est le prmier site ehzoighgoihg righorighorehz <br />zeoighzeogihzegoizg gozeghoiehfozihefzofnzog <br /><br /><br />zoghzggizhgziehgz zoghgoihgzoeihezgggei</p>
                <p class="article4"> Takeleaf est le prmier site ehzoighgoihg righorighorehz <br />zeoighzeogihzegoizg gozeghoiehfozihefzofnzog <br />zoghzggizhgziehgz zoghgoihgzoeihezgggei<br />zeoighzeogihzegoizg gozeghoiehfozihefzofnzog</p>
            </article>
        </div>
        <div class="imagefoot">
            <img src="~/IMG/Footimg/Vector 1.png"/>
        </div>
       
        

    </section>

    <!--FIN Section de la page principale-->

























    
</body>
</html>
