
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <link rel="stylesheet" href="~/CSS/Zoutils.css" />
    <title>test</title>
</head>
<body>

    <button class="valider">Bang</button>
    <button class="supprimer">Boum</button>
    <input type="text" class="textbox" />
</body>
</html>
