@model TakoLeaf.ViewModels.ProviderViewModel
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>AjouterCompetence</title>
</head>
<body>

    <h2> Veuillez indiquer les indiquer les ressources</h2>
    @using(Html.BeginForm())
            {
                @Html.LabelFor(m => m)
            }

</body>
</html>
