
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Profil</title>
</head>
<body>
    <h1> Vous avez reussi a vous connecter</h1>
</body>
</html>
