@model TakoLeaf.ViewModels.UtilisateurViewModel

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>ProfilConsumerVisite</title>
</head>
<body>
    <p>Bonjour je suis l'adherent @Model.Adherent.Id</p>
</body>
</html>
