
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>PublicationArticle</title>
</head>
<body>

    <h1 style="text-align:center; font-family:sans-serif;">Bienvenue sur la page de publication d'article</h1>
    
</body>
</html>
