<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Inscription Provider </title>

    <link rel="stylesheet" href="css/Inscription.Provider.css">

    <link href="https://fonts.googleapis.com/icon?family=Material+Icons"
    rel="stylesheet">

    <!-- BOOSTRAP CSS-->
    <link rel="stylesheet" href="site/css/bootstrap.css">





</head>
<body>
    
<!--Début Section du Header-->
<section>
    <header>
        <button class="hamburger">&#9776;</button>
        <button class="cross">&#735;</button>
        <div class="logo"><img src="IMG/TAKO ECO new.png"></div>
        <h1 class="titremidheader">Tako Leaf</h1>
    </header>
      
      <div class="menu">
        <ul>
          <a href="#"><li>Inscription</li></a>
          <a href="#"><li>Connection</li></a>
          <a href="#"><li>FAQ</li></a>
        </ul>
      </div> 
    
 </section>


<!--FIn Section du Header-->
 

<section class="InscriptionHome">
    <div class="content">
        <h1>Bienvenue !</h1>
        
        <div class="information-Consumer">
            <input type="text" class="form-text" placeholder="Nom..">
            <label for="form-text" class="text__label"></label>

            <input type="text" class="form-text" placeholder="Prenom..">
            <label for="form-text" class="text__label"></label>
            
            <input type="datetime" class="form-text" placeholder="Date de naissance..">
            <label for="form-text" class="text__label"></label>
            
            <input type="text" class="form-text" placeholder="Adresse rue..">
            <label for="form-text" class="text__label"></label>

            <input type="text" class="form-text" placeholder="Ville..">
            <label for="form-text" class="text__label"></label>

            <input type="text" class="form-text" placeholder="Code postal..">
            <label for="form-text" class="text__label"></label>

            <input type="tel" class="form-text" placeholder="Téléphone..">
            <label for="form-text" class="text__label"></label>
        </div>

        <div class="infoPerso">
            

            <input type="email" class="form-text" placeholder="Adresse Mail..">
            <label for="form-text" class="text__label"></label>

            <input type="password" class="form-text" placeholder="Mot de passe..">
            <label for="form-text" class="text__label"></label>

            
        </div>


        <div class="infoBancaire">
            

            <input type="text" class="form-text" placeholder="Titulaire du RIB">
            <label for="form-text" class="text__label"></label>

            <input type="number" class="form-text" placeholder="Numero du RIB">
            <label for="form-text" class="text__label"></label>

            <input type="datetime" class="form-text" placeholder="Nom de la banque">
            <label for="form-text" class="text__label"></label>

            
        </div>
        
<!-- Section des box d'image-->

        <div class="fichier">
            <input class="fichier_TEXT" type="file" name="Avatar" id="file" accept="image/*">
            <label for="file">
                <span class="material-icons">
                    add_photo_alternate
                    </span> &nbsp;
                Votre avatar
            </label>
           
            <input class="fichier_TEXT" type="file" name="identite" id="file" accept="image/*">
            <label for="file">
                <span class="material-icons">
                    add_photo_alternate
                    </span> &nbsp;
                Votre Carte d'identité
            </label>
        </div>

        <div class="fichier2">
            <input class="fichier_TEXT" type="file" name="RIB" id="file" accept="image/*">
            <label for="file">
                <span class="material-icons">
                    add_photo_alternate
                    </span> &nbsp;
                Votre RIB
            </label> 
        </div>


<!-- FIN Section des box d'image-->

<!-- SECTION CHECK BOX LIST COMPENTECES-->
        <div class="containerCheck">
            <div class="rowCheck">
                <div class="col-sm-offset-4 col-sm-4">
                    <div class="checkbox-list">
                        <div class="checkboxComp">
                            <input type="checkbox" id="checkbox1">
                            <label for="checkbox1">Batterie</label>
                        </div>
                        <div class="checkboxComp">
                            <input type="checkbox" id="checkbox2">
                            <label for="checkbox2">Pneumatique</label>
                        </div>
                        <div class="checkboxComp">
                            <input type="checkbox" id="checkbox3">
                            <label for="checkbox3">Echappement</label>
                        </div>
                        <div class="checkboxComp">
                            <input type="checkbox" id="checkbox4">
                            <label for="checkbox4">Carosserie</label>
                        </div>
                        <div class="checkboxComp">
                            <input type="checkbox" id="checkbox5">
                            <label for="checkbox5">Parebrise</label>
                        </div>
                        <div class="checkboxComp">
                            <input type="checkbox" id="checkbox6">
                            <label for="checkbox6">Freins</label>
                        </div>
                        <div class="checkboxComp">
                            <input type="checkbox" id="checkbox7">
                            <label for="checkbox7">Moteur</label>
                        </div>
                        <div class="checkboxComp">
                            <input type="checkbox" id="checkbox8">
                            <label for="checkbox8">Consommable</label>
                        </div>
                        <div class="checkboxComp">
                            <input type="checkbox" id="checkbox9">
                            <label for="checkbox9">Tunning</label>
                        </div>
                        
                    </div>
                </div>
            </div>
        </div>


<!-- FIN SECTION CHECK BOX LIST COMPENTECES-->

        <div class="information_tarif">
            <input type="text" form="form-text">
            <label for="form-text" class="text__label"></label>
            <input type="text" form="form-text">
            <label for="form-text" class="text__label"></label>
            <input type="text" form="form-text">
            <label for="form-text" class="text__label"></label>
            <input type="text" form="form-text">
            <label for="form-text" class="text__label"></label>
            <input type="text" form="form-text">
            <label for="form-text" class="text__label"></label>
            <input type="text" form="form-text">
            <label for="form-text" class="text__label"></label>
            <input type="text" form="form-text">
            <label for="form-text" class="text__label"></label>
            <input type="text" form="form-text">
            <label for="form-text" class="text__label"></label>
            <input type="text" form="form-text">
            <label for="form-text" class="text__label"></label>
        </div>









        








<!-- Section des box de zone-->

        <div class="textesection">
            <p class="text1">Qui êtes vous ?</p>
            <p class="text2">A quoi ressemblez vous ?</p>
            <p class="text3">Parlez nous de vous.</p>
            <p class="text4">Quelles sont vos compétences et leurs tarifications?</p>
            <p class="text7">Information de connexion</p>
            <p class="text8">Information bancaire</p>
           
        </div>

<!-- FIN Section des box de zone-->
        <div class="ValiderBox">
            <button class="Valider" type="submit">Valider</button>
        </div>
       


        
            
        <div class="textare_style">
             <textarea class="textarea" name="textarea_description" id="textarea" cols="50" rows="9" 
             placeholder="Que pouvez vous nous dire de vous.."></textarea>
        </div>

        
           
        
        
    </div>
</section>



<!--Section footer-->

<section class="footerBot">
    <footer class="footer-items">
        <div class="container">
            <div class="footer-contact">
                <h3> Nous rencontrer</h3>
                <ul>
                    <li>Adresse</li>
                    <li>Adresse</li>
                    <li>Adresse</li>
                    <li>Telephone: XX.XX.XX.XX.XX</li>
                </ul>        
            </div>
            <div class="footer-infos">
                <h3> Tako Leaf</h3>
                <ul>
                    <li><a href="#section-home">Notre Projet</a></li>
                    <li><a href="#section-information">Comment ça marche ?</a></li>
                </ul>        
            </div>
            <div class="footer-questions">
                <h3> Besoin d'aide ?</h3>
                <ul>
                    <li><a href="#">FAQ</a></li>
                    <li><a href="#">Forum</a></li>
                    <li><a href="#">Contacter Administrateur</a></li>
                </ul>        
            </div>
        </div>

        <div class="imageRS">
            
            <a href=""><img src="IMG/RS/entypo-social_instagram-with-circle.png" alt="" class="instagram"></a>
            <a href=""><img src="IMG/RS/Vector-1.png" alt="" class="twitter"></a>
            <a href=""><img src="IMG/RS/Vector.png" alt="" class="facebook"></a>
        </div>           
        <div class="copirate">
            <h4 class="copyratetext">
                © 2021 Tako’Leaf. ALL RIGHTS RESERVED.</h4>
        </div>
    </footer>
 </section>
 



<!--FIN Section footer-->


<!-- D'abord on vas mettre Jquery-->
<script src="jquery-3.6.0.js"></script>

<!-- Puis on vas mettre boostrap.JS-->
<script src="js/boostrap.bundle.js"></script>


<script src="js/Homescript.js"></script>
 
</body>
</html>