<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title> Tako Leaf Inscription</title>

    <link rel="stylesheet" href="css/ProfileCONSUMER.css">

    <link href="https://fonts.googleapis.com/icon?family=Material+Icons"
    rel="stylesheet">

    <!-- BOOSTRAP CSS-->
    <link rel="stylesheet" href="site/css/bootstrap.css">

</head>
<body>
    
<!--Début Section du Header-->
<section>
    <header>
        <button class="hamburger">&#9776;</button>
        <button class="cross">&#735;</button>
        <div class="logo"><img src="IMG/TAKO ECO new.png"></div>
        <h1 class="titremidheader">Tako Leaf</h1>
    </header>
      
      <div class="menu">
        <ul>
          <a href="#"><li>Inscription</li></a>
          <a href="#"><li>Connection</li></a>
          <a href="#"><li>FAQ</li></a>
        </ul>
      </div> 
    
 </section>


<!--FIn Section du Header-->



<section class="ProfilConsumer">

    <div class="container_Location">
        <p>Voiture(s) possédée(s)</p>
    </div>

   
    <div class="container_Presentation">
        <p>En Quelques mots</p>
    </div>

    <div class="container_Avis">
        <p>Avis laissés et notes</p>
    </div>

    <div class="container_RS">
        
        <div class="icones_RS">
            <a href="#"><img src="IMG/RS PROFILE/entypo-social_facebook-with-circle.png"alt=""></a>
            <a href="#"><img src="IMG/RS PROFILE/entypo-social_instagram-with-circle.png" alt=""></a>
            <a href="#"><img src="IMG/RS PROFILE/entypo-social_twitter-with-circle.png" alt=""> </a>
            
        </div>
    </div>

    <div class="map">
        <p>LA BELLE MAP</p>
    </div>

    
    
    <div class="localisation">
        <p class="loca">
            Localisation
        </p>
        <p class="deplace">
            Peut se déplacer :
        </p>
        <ul class="deplacement">
            <li> 10km et autour</li>
            <li> 30km et autour</li>
        </ul>
        <div class="img_localisation">
            <img src="IMG/Localisation/Drawing Pin Filled.png" alt="">
            <img src="IMG/Localisation/Double Arrow Right.png" alt="">
        </div>
        
    </div>

    <div class="profile_consumer">
       
        <div class="follow">
            
            <button class="lebouton" >Suivre</button>
        </div>

        <div class="contacter">
            <div class="elements">
                <p>Contacter</p>
                <a href="#"> <img src="IMG/Localisation/Envelope Open.png" alt="">  </a>
            </div>           
        </div>
        <p class="nbr_Followers">
            nbr Followers...
        </p>

        <p class="Nom-Provider">Nom</p>
        <p class="Prenom-Provider">Prenom</p>

    </div>

    <div class="img-localisation">
        <img src="IMG/Localisation/Drawing Pin Filled.png" alt="">
        <p>Localisé(e) à..</p>
    </div>
    
    <div class="pp_Provider">
        <div class="pp_providerImage">
           
        </div>
        <img src="IMG/Localisation/bi_check-circle-fill.png"  class="Checked" alt="">
        
    </div>
    



</section>








































<!--Section footer-->

<section class="footerBot">
    <footer class="footer-items">
        <div class="container">
            <div class="footer-contact">
                <h3> Nous rencontrer</h3>
                <ul>
                    <li>Adresse</li>
                    <li>Adresse</li>
                    <li>Adresse</li>
                    <li>Telephone: XX.XX.XX.XX.XX</li>
                </ul>        
            </div>
            <div class="footer-infos">
                <h3> Tako Leaf</h3>
                <ul>
                    <li><a href="#section-home">Notre Projet</a></li>
                    <li><a href="#section-information">Comment ça marche ?</a></li>
                </ul>        
            </div>
            <div class="footer-questions">
                <h3> Besoin d'aide ?</h3>
                <ul>
                    <li><a href="#">FAQ</a></li>
                    <li><a href="#">Forum</a></li>
                    <li><a href="#">Contacter Administrateur</a></li>
                </ul>        
            </div>
        </div>

        <div class="imageRS">
            
            <a href=""><img src="IMG/RS/entypo-social_instagram-with-circle.png" alt="" class="instagram"></a>
            <a href=""><img src="IMG/RS/Vector-1.png" alt="" class="twitter"></a>
            <a href=""><img src="IMG/RS/Vector.png" alt="" class="facebook"></a>
        </div>           
        <div class="copirate">
            <h4 class="copyratetext">
                © 2021 Tako’Leaf. ALL RIGHTS RESERVED.</h4>
        </div>
    </footer>
 </section>
 



<!--FIN Section footer-->


<!-- D'abord on vas mettre Jquery-->
<script src="jquery-3.6.0.js"></script>

<!-- Puis on vas mettre boostrap.JS-->
<script src="js/boostrap.bundle.js"></script>


<script src="js/Homescript.js"></script>


</body>
</html>