@import url(https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,300;0,400;0,500;0,700;0,900;1,300;1,400;1,500;1,700&display=swap);

*{
    font-family: 'Roboto';
    box-sizing: border-box;
}


body {
    margin: 0px;
    padding: 0px;
    font-family: 'Roboto', sans-serif;
}

/*Section du header avec Navbar*/

header {
    justify-content: space-between;
    z-index: 1;
    width:100%; 
	background:#FFE3B8; 
	height:100px; 
	border-bottom:1px solid #dddddd;
    top: 0;
}

header h1{
    text-transform: uppercase;
    align-items: center;
    letter-spacing: 5px;
    font-size: 16px;
    color: #2F4858;
    bottom: 60px;
    z-index: 2;
    position: relative;
    display: flex;
    justify-content: center;
}

.logo{
    padding-left: 15px;
    width: 100px;
    display: flex;
    justify-content: left;
    align-items: center;
}

/*BURGER MENU */

.hamburger{
    background:none;
    position:absolute;
    top:0;
    right:0;
    line-height:45px;
    padding:20px 20px 0px 15px;
    color:#2F4858;
    border:0;
    font-size:1.4em;
    font-weight:bold;
    cursor:pointer;
    outline:none;
    z-index:10000000000000;
  }
  .cross{
    background:none;
    position:absolute;
    top:0px;
    right:0;
    padding:20px 20px 0px 15px;
    color:#2F4858;
    border:0;
    font-size:3em;
    line-height:65px;
    font-weight:bold;
    cursor:pointer;
    outline:none;
    z-index:10000000000000;
  }


.menu{
    z-index:1000000; 
    font-weight:bold; 
    font-size:0.8em; 
    width:100%; 
    background:#f1f1f1;  
    position:absolute; 
    text-align:center; 
    font-size:12px;
}

.menu{z-index:1000000; 
	right:0px;
	font-weight:bold; 
	font-size:0.8em; 
	width:200px; 
	background:#2F4858;  
	position:absolute; 
	text-align:left; 
	font-size:14px;
	opacity:90%;
	border-top-left-radius:20px;
	border-bottom-left-radius:20px;
    filter: drop-shadow(0  5px 0.20rem #2F4858);
}

.menu ul {margin: 0; 
	padding-left: 10px; 
	list-style-type: none; 
	list-style-image: none;}

.menu li {display: block;   
	padding:15px 0 15px 0; 
	}

.menu ul li a { 
	text-decoration:none;  
	margin: 0px; 
	color:#FFFFFF;
}
.menu ul li a:hover {  
	color: #FFFFFF; 
	text-decoration:none;
}
.menu a{
	text-decoration:none; 
	color:#FFFFFF;
}
.menu a:hover{
	text-decoration:none; 
	color:#A1E1AF;
}

.glyphicon-home{
  color:white; 
  font-size:1.5em; 
  margin-top:5px; 
  margin:0 auto;
}


/*FIN BURGER MENU ET FIN HEADER*/




/* DETAIL DE LA PAGE*/

.PAGEMID {
    width: 100%;
    height: 1300px;
    background-image: url(~/IMG/BACKFRISTPAGE.png);
    background-position: center;
    background-size: cover;
    box-sizing: border-box;
    position: relative;
}


/* FIN DETAIL DE LA PAGE*/


































/*FOOTER*/

.footerBot{
    width: 100%;
    height: 300px;
    position: relative;
    bottom: 0;
    background-color: #2F4858;
}

.container{
    margin: 0px 0px;
    display: flex;
    justify-content: space-between;
    padding-top: 40px;
    
    
}

/*Section CONTACTE */

.footer-contact{
    color: white;
    text-align: left;

}

.footer-contact ul{
    padding-left:0px;
}

.footer-contact li{
    list-style: none;
}

/*Section INFO */

.footer-infos{
    color: white;
    text-align: left;
}

.footer-infos ul{
    padding-left: 0;
}

.footer-infos li{
    list-style: none;
}

.footer-infos li a{
    font-weight:800 ;
    color: white;
    text-decoration: none;

}

/*Section HELP */

.footer-questions{
    color: white;
    text-align: left;
}

.footer-questions ul{
    padding-left: 0;
}

.footer-questions li{
    list-style: none;
}

.footer-questions li a{
    font-weight:800 ;
    color: white;
    text-decoration: none;

}

/*Section image */

.imageRS{
    position: relative;
    left: 240px;
    width: 10%;
    
}
.instagram{
    margin: 10px;
}

.twitter{
    margin: 10px;
}

.facebook{
    margin: 10px;
}

/*Section Copyright */

.copirate{
    color: white;
    display: flex;
    justify-content: flex-end;
    padding-right: 10px;
    padding-top: 10px;
}
.copyratetext{
    font-size: 10px;
}

/*FIN FOOTER*/