@import url(https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,300;0,400;0,500;0,700;0,900;1,300;1,400;1,500;1,700&display=swap);

*{
    font-family: 'Roboto';
    box-sizing: border-box;
}


body {
    margin: 0px;
    padding: 0px;
    font-family: 'Roboto', sans-serif;
}


/*Section du header avec Navbar*/

header {
    justify-content: space-between;
    z-index: 1;
    width:100%; 
	background:#FFE3B8; 
	height:100px; 
	border-bottom:1px solid #dddddd;
    top: 0;
}

header h1{
    text-transform: uppercase;
    align-items: center;
    letter-spacing: 5px;
    font-size: 16px;
    color: #2F4858;
    bottom: 60px;
    z-index: 2;
    position: relative;
    display: flex;
    justify-content: center;
}

.logo{
    padding-left: 15px;
    width: 100px;
    display: flex;
    justify-content: left;
    align-items: center;
}

/*BURGER MENU */

.hamburger{
    background:none;
    position:absolute;
    top:0;
    right:0;
    line-height:45px;
    padding:20px 20px 0px 15px;
    color:#2F4858;
    border:0;
    font-size:1.4em;
    font-weight:bold;
    cursor:pointer;
    outline:none;
    z-index:10000000000000;
  }
  .cross{
    background:none;
    position:absolute;
    top:0px;
    right:0;
    padding:20px 20px 0px 15px;
    color:#2F4858;
    border:0;
    font-size:3em;
    line-height:65px;
    font-weight:bold;
    cursor:pointer;
    outline:none;
    z-index:10000000000000;
  }


.menu{
    z-index:1000000; 
    font-weight:bold; 
    font-size:0.8em; 
    width:100%; 
    background:#f1f1f1;  
    position:absolute; 
    text-align:center; 
    font-size:12px;
}

.menu{z-index:1000000; 
	right:0px;
	font-weight:bold; 
	font-size:0.8em; 
	width:200px; 
	background:#2F4858;  
	position:absolute; 
	text-align:left; 
	font-size:14px;
	opacity:90%;
	border-top-left-radius:20px;
	border-bottom-left-radius:20px;
    filter: drop-shadow(0  5px 0.20rem #2F4858);
}

.menu ul {margin: 0; 
	padding-left: 10px; 
	list-style-type: none; 
	list-style-image: none;}

.menu li {display: block;   
	padding:15px 0 15px 0; 
	}

.menu ul li a { 
	text-decoration:none;  
	margin: 0px; 
	color:#FFFFFF;
}
.menu ul li a:hover {  
	color: #FFFFFF; 
	text-decoration:none;
}
.menu a{
	text-decoration:none; 
	color:#FFFFFF;
}
.menu a:hover{
	text-decoration:none; 
	color:#A1E1AF;
}

.glyphicon-home{
  color:white; 
  font-size:1.5em; 
  margin-top:5px; 
  margin:0 auto;
}


/*FIN BURGER MENU ET FIN HEADER*/


.ProfilProvider{
    width: 100%;
    height: 1400px;
    background-image: url(/IMG/BACKFRISTPAGE.png);
    background-position: center;
    background-size: cover;
    box-sizing: border-box;
    position: relative;
}


.container_Location{
    position: absolute;
    width: 454px;
    height: 495px;
    border: solid;
    border-radius: 40px;
    border-color: #dbdbdb;
    left: 1290px;
    top: 75px;
}

.container_Location p{
    display: flex;
    justify-content: center;
}

.container_Competences{
    position: absolute;
    width: 454px;
    height: 495px;
    border: solid;
    border-radius: 40px;
    border-color: #dbdbdb;
    top: 75px;
    left: 750px;
}

.data {
    /* background-color: purple;*/
    table-layout: fixed;
    width: 100%;
    margin: 30px;
}
    /*.container_Competences ul {
        font-size: 13px;
        list-style-type: none;
        padding-left: 0;
        margin: 0;
    }

    .container_Competences li {*/
    /* position: relative;
        list-style-type: none;
        padding-left: 2.5rem;
        margin-bottom: 0.5rem;*/
    /*border-bottom: #777 1px solid;
        padding-left: 20px;
        line-height: 30px;
    }*/

    .container li:before {
    content: '';
    display: block;
    position: absolute;
    left: 0;
    top: -2px;
    width: 5px;
    height: 11px;
    border-width: 0 2px 2px 0;
    border-style: solid;
    border-color: #00a8a8;
    transform-origin: bottom left;
    transform: rotate(45deg);
}

.container_Competences p {
    display: flex;
    justify-content: center;
    text-align: center;
 
}

#container_txt {

    color : red;
    display : flex;
    flex-direction :column;




}


.container_Presentation{
    max-height : 211px;
    overflow : auto;
    position: absolute;
    width: 1000px;
    height: 211px;
    border: solid;
    border-radius: 40px;
    border-color: #dbdbdb;
    top: 630px;
    left: 750px;
}


    .container_Presentation p {
        font-weight: bold;
        display: flex;
        justify-content: center;
        text-align: center;
        font-size : large;
    }

.container_Avis{
    max-height : 211px;
    overflow : auto;
    position: absolute;
    width: 1000px;
    height: 211px;
    border: solid;
    border-radius: 40px;
    border-color: #dbdbdb;
    top: 920px;
    left: 750px;
}

.container_Avis p{
    font-weight : bold;
    display: flex;
    justify-content: center;
    text-align: center;
    font-size:large;
}
::-webkit-scrollbar {
    width: 5px;
    height: 5px;
}

::-webkit-scrollbar-button {
    width: 0px;
    height: 0px;
}

::-webkit-scrollbar-thumb {
    background: #e1e1e1;
    border: 31px none #ffffff;
    border-radius: 5px;
}

    ::-webkit-scrollbar-thumb:hover {
        background: #a1a1a1;
    }

    ::-webkit-scrollbar-thumb:active {
        background: #a3a3a3;
    }

::-webkit-scrollbar-track {
    background: #f0f0f0;
    border: 1px solid #ffffff;
    border-radius: 5px;
}

    ::-webkit-scrollbar-track:hover {
        background: #f2f2f2;
    }

    ::-webkit-scrollbar-track:active {
        background: #f5f5f5;
    }

::-webkit-scrollbar-corner {
    background: transparent;
}



.container_RS{
    position: absolute;
    width: 400px;
    height: 100px;
    border: solid;
    border-radius: 40px;
    border-color: #dbdbdb;
    top: 1030px;
    left: 150px;
}
.container_RS p{
    display: flex;
    justify-content: center;
    text-align: center;
}

.icones_RS img{
    position: relative;
    
    left: 10px;
    padding-top: 15px;
    padding-left: 30px;
    padding-right: 30px;
    justify-content: center;
}

.map {
    background-image: url("/IMG/MAP/Orleans.png");
    background-position-x: -10px;
    background-position-y: -10px;
    position: absolute;
    width: 500px;
    height: 250px;
    border: solid;
    border-radius: 40px;
    border-color: #dbdbdb;
    top: 760px;
    left: 100px;
}

.map p{
    display: flex;
    justify-content: center;
    text-align: center; 
}

.niveau{
    position: absolute;
    width: 180px;
    height: 180px;
    border: solid;
    border-radius: 40px;
    border-color: #dbdbdb;
    top: 555px;
    left: 420px;
}
.niveau p{
    display: flex;
    justify-content: center;
    text-align: center; 
}

.localisation{
    position: absolute;
    width: 300px;
    height: 180px;
    border: solid;
    border-radius: 40px;
    border-color: #dbdbdb;
    top: 555px;
    left: 100px;
}

.localisation p{
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: left;
    top: 40px;
    left: 80px;
    font-weight: bold;
}

.deplacement{
    position: relative;
    top: 30px;
    left: 70px;
}

.img_localisation{
    position: absolute;
    display: flex;
    flex-direction: column;
    width: 30px;
    left: 30px;
    top: 20px;
    margin-top: 20px;
    
    
}

.profile_provider{
    position: absolute;
    width: 500px;
    height: 450px;
    border: solid;
    border-radius: 40px;
    border-color: #dbdbdb;
    left: 100px;
    top: 75px;
}

.tarif{
    position: absolute;
    width: 180px;
    Height: 92px;
    border: solid 1px;
    top: 250px;
    left: 30px;
    border-radius: 40px;
    border-color: #ffffff;
    background-color: #54A49D;
    box-shadow: 0px 6px 10px #c9c9c9;
}

.tarif p{
    font-size: 30px;
    color: white;
    display: flex;
    justify-content: center;
    text-align: center; 
    line-height : 3;
}


.follow{
    position: absolute;
    width: 180px;
    Height: 92px;
    border: solid 1px;
    border-radius: 40px;
    border-color: #ffffff;
    background-color: #699BF7;
    top: 250px;
    left: 270px;
    box-shadow: 0px 6px 10px #c9c9c9;

}

#follow-button {
    color: white;
    font-family: "Roboto";
    font-size: 20pt;
    background-color: #699BF7;
    border: 1px solid;
    border-color: #3399FF;
    width: 180px;
    position: relative;
    height: 92px;
    cursor: hand;
    left: 500px;
    border-radius: 40px;
    top: 250px;
    left: 270px;
    box-shadow: 0px 6px 10px #c9c9c9;
}

 /*   .follow button {
        position: absolute;
        width: 180px;
        Height: 92px;
        border: solid 1px;
        border-radius: 40px;
        border-color: #ffffff;
        background-color: #699BF7;
        top: 250px;
        left: 270px;
        box-shadow: 0px 6px 10px #c9c9c9;
    }*/

.follow p{
    font-size: 30px;
    color: white;
    display: flex;
    justify-content: center;
    text-align: center; 
    
}

#devis-button {
    color: white;
    text-decoration : none;
    font-family: "Roboto";
    font-size: 20pt;
    background-color: #FFE3B8;
    border: 1px solid;
    border-color: #3399FF;
    width: 250px;
    position: relative;
    height: 180px;
    cursor: hand;
    left: 200px;
    border-radius: 40px;
    top: 550px;
    left: 135px;
    box-shadow: 0px 6px 10px #c9c9c9;
}


.contacter{
    position: absolute;
    width: 430px;
    Height: 70px;
    border: solid 1px;
    border-radius: 40px;
    border-color: #ffffff;
    background-color: #A1E1AF;
    left: 30px;
    top: 350px;
    box-shadow: 0px 6px 10px #c9c9c9;
}

.elements{
    position: relative;
    top:10px;
    display: flex;
    justify-content: space-between;
}

.elements p{
    color: white;
    font-weight: 600;
    font-size: 20px;
    padding-left: 10px;
}

.elements img{
    margin-right: 10px;
    padding-right:15px ;
    width: 65px;   
}

.pp_Provider{
    position: absolute;
    top: 15px;
    left: 30px;
}

.pp_providerImage{
    position: absolute;
    height: 200px;
    width: 195px;
    border: solid 1px;
    border-radius: 40px;
    border-color: #dbdbdb;
    box-shadow: 0px 6px 10px #c9c9c9;

}


    .pp_providerImage img {
        border: solid 1px;
        border-radius: 40px;
        border-color: #dbdbdb;
        width: 100%;
        height: 100%;
    }



.Nom-Provider {
    font-weight: 600;
    position: absolute;
    top: 40px;
    left: 300px;
    font-size: 30px;
}

.Prenom-Provider{
    font-weight: 600;
    position: absolute;
    top: 90px;
    left: 300px;
    font-size: 30px;
}


.img-localisation{
    position: absolute;
    left: 400px;
    top: 220px;
}

.Checked{
    position: absolute;
    top: 160px;
    left: 160px;
    
}

.notes{
    position: absolute;
    top: 175px;
    left: 270px;
    width: 90px;
    height: 20px;
}





























/*FOOTER*/

.footerBot{
    width: 100%;
    height: 300px;
    position: relative;
    bottom: 0;
    background-color: #2F4858;
}

.container{
    margin: 0px 0px;
    display: flex;
    justify-content: space-between;
    padding-top: 40px;
    
    
}

/*Section CONTACTE */

.footer-contact{
    color: white;
    text-align: left;

}

.footer-contact ul{
    padding-left:0px;
}

.footer-contact li{
    list-style: none;
}

/*Section INFO */

.footer-infos{
    color: white;
    text-align: left;
}

.footer-infos ul{
    padding-left: 0;
}

.footer-infos li{
    list-style: none;
}

.footer-infos li a{
    font-weight:800 ;
    color: white;
    text-decoration: none;

}

/*Section HELP */

.footer-questions{
    color: white;
    text-align: left;
}

.footer-questions ul{
    padding-left: 0;
}

.footer-questions li{
    list-style: none;
}

.footer-questions li a{
    font-weight:800 ;
    color: white;
    text-decoration: none;

}

/*Section image */

.imageRS{
    display: flex;
    padding-left: 240px;
    padding-right: 400px;
}
.instagram{
    margin: 10px;
}

.twitter{
    margin: 10px;
}

.facebook{
    margin: 10px;
}

/*Section Copyright */

.copirate{
    color: white;
    display: flex;
    justify-content: flex-end;
    padding-right: 10px;
    padding-top: 10px;
}
.copyratetext{
    font-size: 10px;
}

/*FIN FOOTER*/